In [23]:
import pandas as pd
import numpy as np
import random

In [5]:
ls

bin/              lib/                   README.md  Untitled.ipynb
Contact_Info.csv  Personal_Info_All.csv  src/

In [16]:
CustomerInfo = pd.concat([pd.read_csv("Personal_Info_All.csv"), pd.read_csv("Contact_Info.csv")], axis=1)
CustomerInfo.head(2)

,customerID,fulname,Gender,Nationality,DOB,password,email,username
0,PB-119101,Paige Bennett,Female,Ghana,1991-06-11,NaN,paigebennett44@outlook.com,@Paige30
1,MSH-030101,Mrs. Shannon Hill,Female,Aruba,2001-01-03,NaN,mrs.hill34@gmail.com,@Mrs.80

In [18]:
planes = pd.DataFrame([('ABC123', 'Boeing 737', 150, 120),
('DEF456', 'Airbus A320', 180, 150),
('GHI789', 'Boeing 787', 250, 200),
('JKL012', 'Airbus A350', 300, 240),
('MNO345', 'Embraer E190', 100, 80),
('PQR678', 'Bombardier CRJ900', 80, 60),
('STU901', 'Boeing 777', 350, 280),
('VWX234', 'Airbus A380', 500, 400)
], columns=['planeID', 'planModel', 'capacity', 'Eco_seats'])

planes.head(2)

  planeID    planModel  capacity  Eco_seats
0  ABC123   Boeing 737       150        120
1  DEF456  Airbus A320       180        150

In [22]:
flights = pd.DataFrame([('FLIGHT001', 'IST', 'JFK', 'ABC123', '2024-05-03 08:00:00', 720, 120, 30, 'International'),
('FLIGHT002', 'JFK', 'IST', 'ABC123', '2024-05-03 10:00:00', 720, 120, 30, 'International'),
('FLIGHT003', 'IST', 'LHR', 'DEF456', '2024-05-03 12:00:00', 180, 150, 30, 'International'),
('FLIGHT004', 'LHR', 'IST', 'DEF456', '2024-05-03 14:00:00', 180, 150, 30, 'International'),
('FLIGHT005', 'IST', 'CDG', 'GHI789', '2024-05-03 16:00:00', 240, 200, 50, 'International'),
('FLIGHT006', 'CDG', 'IST', 'GHI789', '2024-05-03 18:00:00', 240, 200, 50, 'International'),
('FLIGHT007', 'IST', 'FRA', 'JKL012', '2024-05-03 20:00:00', 240, 240, 60, 'International'),
('FLIGHT008', 'FRA', 'IST', 'JKL012', '2024-05-03 22:00:00', 240, 240, 60, 'International'),
('FLIGHT009', 'IST', 'MUC', 'MNO345', '2024-05-04 08:00:00', 120, 80, 20, 'International'),
('FLIGHT010', 'MUC', 'IST', 'MNO345', '2024-05-04 10:00:00', 120, 80, 20, 'International'),
('FLIGHT011', 'IST', 'BCN', 'PQR678', '2024-05-04 12:00:00', 180, 60, 20, 'International'),
('FLIGHT012', 'BCN', 'IST', 'PQR678', '2024-05-04 14:00:00', 180, 60, 20, 'International'),
('FLIGHT013', 'IST', 'LAX', 'STU901', '2024-05-04 16:00:00', 840, 280, 70, 'International'),
('FLIGHT014', 'LAX', 'IST', 'STU901', '2024-05-04 18:00:00', 840, 280, 70, 'International'),
('FLIGHT015', 'IST', 'SYD', 'VWX234', '2024-05-04 20:00:00', 1020, 400, 100, 'International'),
('FLIGHT016', 'SYD', 'IST', 'VWX234', '2024-05-04 22:00:00', 1020, 400, 100, 'International'),
('TK001', 'IST', 'ANK', 'ABC123', '2024-05-03 08:00:00', 60, 120, 30, 'Domestic'),
('TK002', 'ANK', 'IST', 'ABC123', '2024-05-03 10:00:00', 60, 120, 30, 'Domestic'),
('TK003', 'IST', 'ADA', 'DEF456', '2024-05-03 12:00:00', 90, 150, 30, 'Domestic'),
('TK004', 'ADA', 'IST', 'DEF456', '2024-05-03 14:00:00', 90, 150, 30, 'Domestic'),
('TK005', 'IST', 'ESB', 'GHI789', '2024-05-03 16:00:00', 120, 200, 50, 'Domestic'),
('TK006', 'ESB', 'IST', 'GHI789', '2024-05-03 18:00:00', 120, 200, 50, 'Domestic'),
('TK007', 'IST', 'DLM', 'JKL012', '2024-05-03 20:00:00', 90, 240, 60, 'Domestic'),
('TK008', 'DLM', 'IST', 'JKL012', '2024-05-03 22:00:00', 90, 240, 60, 'Domestic'),
('TK009', 'IST', 'AYT', 'MNO345', '2024-05-04 08:00:00', 60, 80, 20, 'Domestic'),
('TK010', 'AYT', 'IST', 'MNO345', '2024-05-04 10:00:00', 60, 80, 20, 'Domestic'),
('TK011', 'IST', 'VAS', 'PQR678', '2024-05-04 12:00:00', 120, 60, 20, 'Domestic'),
('TK012', 'VAS', 'IST', 'PQR678', '2024-05-04 14:00:00', 120, 60, 20, 'Domestic'),
('TK013', 'IST', 'ADA', 'STU901', '2024-05-04 16:00:00', 90, 280, 70, 'Domestic'),
('TK014', 'ADA', 'IST', 'STU901', '2024-05-04 18:00:00', 90, 280, 70, 'Domestic'),
('TK015', 'IST', 'TZX', 'VWX234', '2024-05-04 20:00:00', 150, 400, 100, 'Domestic'),
('TK016', 'TZX', 'IST', 'VWX234', '2024-05-04 22:00:00', 150, 400, 100, 'Domestic'),
('TK017', 'IST', 'SZF', 'ABC123', '2024-05-05 08:00:00', 90, 120, 30, 'Domestic'),
('TK018', 'SZF', 'IST', 'ABC123', '2024-05-05 10:00:00', 90, 120, 30, 'Domestic'),
('TK019', 'IST', 'EZS', 'DEF456', '2024-05-05 12:00:00', 120, 150, 30, 'Domestic'),
('TK020', 'EZS', 'IST', 'DEF456', '2024-05-05 14:00:00', 120, 150, 30, 'Domestic')
], columns=['flightID', 'from_', 'to_', 'planeID', 'departureTime', 'flightDuration', 'E_seatsLeft', 'B_seatsLeft', 'destinationType'])

flights.head(3)

,flightID,from_,to_,planeID,departureTime,flightDuration,E_seatsLeft,B_seatsLeft,destinationType
0,FLIGHT001,IST,JFK,ABC123,2024-05-03 08:00:00,720,120,30,International
1,FLIGHT002,JFK,IST,ABC123,2024-05-03 10:00:00,720,120,30,International
2,FLIGHT003,IST,LHR,DEF456,2024-05-03 12:00:00,180,150,30,International

In [35]:
def generate_rnd(x):
    return random.choice(x)

In [47]:
flightCUS = []
user = []
while len(user)!=100:
    dataRow = (generate_rnd(CustomerInfo['customerID']),
        generate_rnd(flights['flightID']),
        generate_rnd([0,0,0,0,0,0,0,1,1,1]))
    if dataRow[0] not in user:
        user.append(dataRow[0])
        flightCUS.append(dataRow)
        print(dataRow)

('SH-109501', 'TK011', 1)
('CC-209301', 'FLIGHT008', 0)
('KV-139901', 'TK010', 1)
('DC-269301', 'FLIGHT006', 0)
('MR-289501', 'FLIGHT016', 1)
('MT-060201', 'FLIGHT003', 0)
('CC-099901', 'TK009', 0)
('AM-160201', 'TK001', 0)
('KM-299501', 'TK001', 1)
('MJ-209901', 'FLIGHT007', 0)
('GR-229401', 'FLIGHT002', 0)
('MKM-079601', 'TK014', 0)
('MH-300101', 'TK007', 0)
('EWM-019901', 'FLIGHT005', 1)
('HK-050001', 'TK016', 0)
('DC-020201', 'TK008', 0)
('TH-239701', 'TK020', 0)
('SB-219101', 'FLIGHT004', 0)
('DT-219701', 'TK014', 0)
('ER-049801', 'TK005', 1)
('MH-289301', 'FLIGHT016', 1)
('AM-179501', 'FLIGHT003', 0)
('JC-139401', 'FLIGHT015', 0)
('JB-040401', 'TK004', 1)
('MZ-079101', 'TK013', 0)
('AB-120001', 'TK010', 1)
('LS-049401', 'FLIGHT015', 0)
('LV-039701', 'TK018', 0)
('BM-039901', 'TK010', 0)
('CA-029601', 'TK017', 0)
('SB-259201', 'TK001', 1)
('VW-309501', 'FLIGHT002', 0)
('LF-269701', 'TK013', 0)
('MW-279101', 'TK018', 1)
('SW-049601', 'TK010', 0)
('HG-309501', 'TK001', 0)
('CK-059201', 'FLIGHT015', 0)
('BT-029501', 'TK015', 1)
('MS-110301', 'TK005', 1)
('EJ-180401', 'FLIGHT007', 0)
('CS-279801', 'TK003', 0)
('MC-010101', 'FLIGHT014', 0)
('AK-169401', 'TK005', 1)
('FJ-049801', 'TK006', 0)
('CN-019801', 'TK005', 0)
('MK-229901', 'TK009', 0)
('JS-289901', 'TK003', 1)
('EG-059601', 'TK005', 0)
('BC-250301', 'FLIGHT016', 0)
('CR-099901', 'FLIGHT011', 0)
('SP-179701', 'FLIGHT008', 0)
('SS-199201', 'FLIGHT011', 1)
('LP-259801', 'FLIGHT003', 0)
('SN-209601', 'TK018', 0)
('ER-090301', 'TK006', 0)
('JG-039301', 'TK008', 0)
('KR-140301', 'TK011', 0)
('AS-239802', 'TK003', 0)
('AS-050201', 'TK020', 0)
('SM-110401', 'FLIGHT007', 0)
('SP-119501', 'TK019', 0)
('BB-300001', 'TK020', 0)
('AJM-219501', 'FLIGHT006', 1)
('LW-189701', 'TK011', 0)
('TT-069401', 'TK010', 0)
('CH-170001', 'FLIGHT001', 1)
('MB-299801', 'FLIGHT013', 0)
('MS-110001', 'TK003', 0)
('TM-059901', 'TK010', 0)
('PB-319901', 'TK012', 1)
('JR-099201', 'FLIGHT007', 0)
('SF-110401', 'FLIGHT004', 0)
('VY-039301', 'TK017', 0)
('TG-140401', 'FLIGHT002', 1)
('KW-280201', 'TK011', 0)
('BM-050001', 'FLIGHT007', 0)
('ED-130001', 'TK009', 1)
('KS-069501', 'TK009', 0)
('PW-039901', 'FLIGHT013', 0)
('RD-259801', 'TK012', 0)
('AB-049101', 'FLIGHT009', 0)
('KH-259601', 'FLIGHT006', 1)
('KW-280202', 'FLIGHT007', 0)
('BS-010401', 'FLIGHT004', 1)
('TC-310101', 'TK011', 1)
('JR-139401', 'TK011', 0)
('JR-029401', 'TK013', 0)
('JA-230201', 'FLIGHT005', 0)
('RR-090101', 'TK017', 0)
('AO-039201', 'TK002', 0)
('AB-140101', 'FLIGHT007', 1)
('MG-059501', 'TK007', 1)
('KW-030101', 'TK019', 1)
('RS-119701', 'FLIGHT009', 1)
('HS-169601', 'FLIGHT002', 0)
('ME-059601', 'FLIGHT006', 0)
('BW-249901', 'TK007', 1)
('KS-029501', 'TK009', 1)
('AD-049301', 'TK010', 0)
('CM-010001', 'TK012', 0)

In [48]:
len(user), len(list(set(user)))

(100, 100)

In [51]:
FlightCustomers = pd.DataFrame(flightCUS, columns=["customerID", "flightID","class_E"])
FlightCustomers.head(3)

  customerID   flightID  class_E
0  SH-109501      TK011        1
1  CC-209301  FLIGHT008        0
2  KV-139901      TK010        1

In [62]:
flights.loc[flights[flights['flightID']=='TK011'].index[0], 'E_seatsLeft']

60

## substracting the new customers from the 'seatsleft'

In [63]:

# for i in FlightCustomers.iterrows():
#     flightID, E_class = i[1][1], i[1][2]
#     if E_class:
#         flights.loc[flights[flights['flightID']==flightID].index[0], 'E_seatsLeft'] -=1
#     else:
#         flights.loc[flights[flights['flightID']==flightID].index[0], 'B_seatsLeft'] -=1

In [76]:
CustomerInfo.to_csv('CustomerInfo.csv')